@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
    --font-sans: "__Poppins_6d1a03", "__Poppins_Fallback_6d1a03";
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.ant-layout-sider {
  background-color: #ebf5f5 !important;
  min-width: 250px !important;
  max-width: 250px !important;
  width: 250px !important;
  /* border-top-right-radius: 100px !important; */
  /* border-bottom-right-radius: 100px !important; */
}

.ant-layout-sider-collapsed {
  min-width: 80px !important;
  max-width: 80px !important;
  width: 80px !important;
}
.ant-menu-sub {
  background-color: #ebf5f5 !important;
}
.ant-menu-sub li {
  background-color: #ebf5f5 !important;
}
.ant-menu-item-selected {
  background-color: #3a9699 !important;
}
.ant-menu-item-selected a {
  color: #fff !important;
  font-weight: 600 !important;
}
.ant-menu-submenu-selected .ant-menu-submenu-title {
  background-color: #3a9699 !important;
  color: #fff !important;
}
.ant-menu-item-selected .sub-menu-item {
  color: #3a9699 !important;
  font-weight: 600 !important;
  font-family: var(--font-poppins);
}
.ant-menu-item-selected .selected-icon {
  fill: #fff;
}
.ant-menu-submenu-selected .selected-icon {
  fill: #fff;
}

/* .ant-menu-item-selected::before {
  content: "SSS";
} */

/* .ant-menu-item-only-child::before {
  content: "";
  width: 2px;
  height: 100%;
  background: #d0e6e7;
  margin-right: 6px;
  margin-left: -6px;
} */

.ant-menu-item-only-child::before {
  content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iNDQiIHZpZXdCb3g9IjAgMCAyMCA0NCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGxpbmUgeDE9IjEwIiB5MT0iLTIuMTg1NTdlLTA4IiB4Mj0iMTAiIHkyPSI0NCIgc3Ryb2tlPSIjRDBFNkU3Ii8+CjxjaXJjbGUgY3g9IjEwIiBjeT0iMjIiIHI9IjQiIGZpbGw9IiNEMEU2RTciLz4KPC9zdmc+Cg==);
  height: 100%;
  margin-left: -24px;
  margin-right: 8px;
}

.ant-menu-item-only-child.ant-menu-item-selected::before {
  content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iNDQiIHZpZXdCb3g9IjAgMCAyMCA0NCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGxpbmUgeDE9IjEwIiB5MT0iLTIuMTg1NTdlLTA4IiB4Mj0iMTAiIHkyPSI0NCIgc3Ryb2tlPSIjM0E5Njk5Ii8+CjxjaXJjbGUgY3g9IjEwIiBjeT0iMjIiIHI9IjQiIGZpbGw9IiMzQTk2OTkiLz4KPC9zdmc+Cg==);
  height: 100%;
  margin-left: -24px;
  margin-right: 8px;
}

/* tambah transition */
.ant-menu-submenu {
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
}

.ant-segmented-item {
  transition: #d0e6e7 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
  border-radius: 8px !important;
}

.ant-segmented-item-selected {
  background-color: #ebf5f5 !important;
  border-radius: 8px !important;
  border-color: #3a9699 !important;
  border-width: 1px !important;
  color: #3a9699 !important;
}

.ant-segmented-thumb {
  background-color: #d0e6e7 !important;
  border-radius: 8px !important;
  border-color: #3a9699 !important;
  border-width: 1px !important;
}

.ant-btn-primary {
  background-color: #3a9699 !important;
  border-color: #3a9699 !important;
  color: #fff !important;
  /* font-weight: 600 !important; */
  font-family: var(--font-poppins);
  box-shadow: 0px 1px 2px 0px #1018280d !important;
}

.ant-btn {
  /* font-weight: 600 !important; */
  font-family: var(--font-poppins);
}

.ant-btn-link {
  /* font-weight: 600 !important; */
  font-family: var(--font-poppins);
}

.ant-btn-link:hover {
  color: #3a9699 !important;
}

.ant-btn-default:hover {
  color: #3a9699 !important;
}

.ant-btn-default {
  border: 1px solid #f7f7f7 !important;
  box-shadow: 0px 1px 2px 0px #1018280d !important;
}

.ant-btn:hover {
  border-color: #3a9699 !important;
}

.ant-input:hover {
  border-color: #3a9699 !important;
}

.ant-input:focus {
  border-color: #3a9699 !important;
  box-shadow: 0 0 0 2px rgba(58, 150, 153, 0.2) !important;
}

.ant-input-affix-wrapper:hover {
  border-color: #3a9699 !important;
}

.ant-dropdown-menu-item:hover {
  background-color: #ebf5f5 !important;
}

.ant-menu-item-selected {
  color: #3a9699 !important;
}

:where(.css-dev-only-do-not-override-dkbvqv).ant-input-affix-wrapper:focus,
:where(
    .css-dev-only-do-not-override-dkbvqv
  ).ant-input-affix-wrapper:focus-within {
  border-color: #3a9699 !important;
  box-shadow: 0 0 0 2px rgba(58, 150, 153, 0.2) !important;
}

.ant-typography {
  font-family: var(--font-poppins) !important;
}

* {
  font-family: "__Poppins_dd2ae8", "__Poppins_Fallback_dd2ae8";
}

.ant-collapse-header {
  border-bottom: 1px solid #f3f3f3;
}

.ant-select-arrow {
  color: #3a9699 !important;
}

:where(.css-dev-only-do-not-override-dkbvqv).ant-select:not(
    .ant-select-disabled
  ):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover
  .ant-select-selector {
  border-color: #3a9699 !important;
}

.ant-collapse-header-text {
  font-weight: 600;
}

.anticon-edit {
  color: #3a9699 !important;
}

:where(
    .css-dev-only-do-not-override-dkbvqv
  ).ant-input-number-affix-wrapper:hover {
  border-color: #3a9699 !important;
}

:where(
    .css-dev-only-do-not-override-dkbvqv
  ).ant-input-number-affix-wrapper:focus,
:where(
    .css-dev-only-do-not-override-dkbvqv
  ).ant-input-number-affix-wrapper:focus-within {
  border-color: #3a9699 !important;
  box-shadow: 0 0 0 2px rgba(58, 150, 153, 0.2) !important;
}

.div-to-button {
  cursor: pointer;
  border: 1px solid #e0e0e0;
}

.div-to-button:hover {
  border: 1px solid #3a9699;
}

:where(.css-dev-only-do-not-override-dkbvqv).ant-select-dropdown
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: #ebf5f5 !important;
}

:where(.css-dev-only-do-not-override-dkbvqv).ant-btn-dashed:not(:disabled):not(
    .ant-btn-disabled
  ):hover {
  border-color: #3a9699 !important;
  color: #3a9699 !important;
}

:where(.css-dev-only-do-not-override-dkbvqv).ant-radio-wrapper
  .ant-radio-inner::after {
  background-color: #3a9699 !important;
}
:where(.css-dev-only-do-not-override-dkbvqv).ant-radio-wrapper
  .ant-radio-checked
  .ant-radio-inner {
  border-color: #3a9699 !important;
  background-color: #fff !important;
}

.ant-radio-wrapper:hover
  :where(.css-dev-only-do-not-override-dkbvqv).ant-radio-wrapper,
:where(.css-dev-only-do-not-override-dkbvqv).ant-radio-wrapper:hover
  .ant-radio-inner {
  border-color: #3a9699 !important;
}

/* :where(.css-dev-only-do-not-override-dkbvqv) a {
  color: #3a9699 !important;
} */

:where(.css-dev-only-do-not-override-dkbvqv).ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-today
  .ant-picker-cell-inner::before {
  border: 1px solid #3a9699 !important;
}

:where(.css-dev-only-do-not-override-dkbvqv).ant-picker-focused.ant-picker {
  border-color: #3a9699 !important;
  box-shadow: 0 0 0 2px rgba(58, 150, 153, 0.2) !important;
}

:where(.css-dev-only-do-not-override-dkbvqv).ant-picker .ant-picker-suffix {
  color: #3a9699 !important;
}

:where(.css-dev-only-do-not-override-dkbvqv).ant-input-number:hover {
  border-color: #3a9699 !important;
}
:where(.css-dev-only-do-not-override-dkbvqv).ant-input-number:focus,
:where(.css-dev-only-do-not-override-dkbvqv).ant-input-number:focus-within {
  border-color: #3a9699 !important;
}

:where(.css-dev-only-do-not-override-dkbvqv).ant-select-dropdown
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled)
  .ant-select-item-option-state {
  color: #3a9699 !important;
}

:where(.css-dev-only-do-not-override-dkbvqv).ant-tabs .ant-tabs-tab:hover {
  color: #3a9699 !important;
}

:where(.css-dev-only-do-not-override-dkbvqv).ant-tabs
  .ant-tabs-tab.ant-tabs-tab-active
  .ant-tabs-tab-btn {
  color: #3a9699 !important;
}

:where(.css-dev-only-do-not-override-dkbvqv).ant-tabs .ant-tabs-ink-bar {
  background-color: #3a9699 !important;
}

.ant-picker-now-btn {
  color: #3a9699 !important;
}

.ant-picker:hover {
  border-color: #3a9699 !important;
}
.ant-upload-wrapper .ant-upload-drag:not(.ant-upload-disabled):hover,
:where(.css-dev-only-do-not-override-dkbvqv).ant-upload-wrapper
  .ant-upload-drag-hover:not(.ant-upload-disabled) {
  border-color: #3a9699 !important;
}

.ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-today
  .ant-picker-cell-inner::before {
  border: 1px solid #3a9699 !important;
}

.ant-picker-range .ant-picker-active-bar {
  background-color: #3a9699 !important;
}

.ant-input-outlined:focus,
.ant-input-outlined:focus-within {
  border-color: #3a9699 !important;
  box-shadow: 0 0 0 2px rgba(58, 150, 153, 0.2) !important;
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #3a9699 !important;
}

.ant-tabs .ant-tabs-ink-bar {
  background-color: #3a9699 !important;
}
.ant-tabs .ant-tabs-tab:hover {
  color: #3a9699 !important;
}

.ant-typography .ant-typography-copy {
  color: #3a9699 !important;
}

:where(.css-dev-only-do-not-override-dkbvqv).ant-table-wrapper
  .ant-table-column-sorter-up.active,
:where(.css-dev-only-do-not-override-dkbvqv).ant-table-wrapper
  .ant-table-column-sorter-down.active {
  color: #3a9699 !important;
}

:where(
    .css-dev-only-do-not-override-dkbvqv
  ).ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  color: #3a9699 !important;
}

:where(
    .css-dev-only-do-not-override-dkbvqv
  ).ant-radio-button-wrapper-checked:not(
    .ant-radio-button-wrapper-disabled
  ):first-child {
  border-color: #3a9699 !important;
}

:where(.css-dev-only-do-not-override-dkbvqv).ant-picker-calendar
  .ant-picker-cell-in-view.ant-picker-cell-selected
  .ant-picker-cell-inner,
:where(.css-dev-only-do-not-override-dkbvqv).ant-picker-calendar
  .ant-picker-cell-in-view.ant-picker-cell-range-start
  .ant-picker-cell-inner,
:where(.css-dev-only-do-not-override-dkbvqv).ant-picker-calendar
  .ant-picker-cell-in-view.ant-picker-cell-range-end
  .ant-picker-cell-inner {
  background-color: #3a9699 !important;
}
:where(.css-dev-only-do-not-override-dkbvqv).ant-picker-calendar
  .ant-picker-cell-in-view.ant-picker-cell-today
  .ant-picker-cell-inner::before {
  border: 1px solid #3a9699 !important;
}

:where(.css-dev-only-do-not-override-dkbvqv).ant-radio-button-wrapper:hover {
  color: #3a9699 !important;
}

:where(.css-dev-only-do-not-override-dkbvqv).ant-pagination
  .ant-pagination-item-active
  a {
  color: #3a9699 !important;
}

:where(.css-dev-only-do-not-override-dkbvqv).ant-pagination
  .ant-pagination-item-active {
  border-color: #3a9699 !important;
}

:where(.css-dev-only-do-not-override-dkbvqv).ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-selected
  .ant-picker-cell-inner,
:where(.css-dev-only-do-not-override-dkbvqv).ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-range-start
  .ant-picker-cell-inner,
:where(.css-dev-only-do-not-override-dkbvqv).ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-range-end
  .ant-picker-cell-inner {
  background-color: #3a9699 !important;
}

:where(.css-dev-only-do-not-override-dkbvqv).ant-picker-dropdown
  .ant-picker-time-panel-column
  > li.ant-picker-time-panel-cell-selected
  .ant-picker-time-panel-cell-inner {
  background-color: #d0e6e7 !important;
}
:where(.css-dev-only-do-not-override-dkbvqv).ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-in-range::before {
  background: #d0e6e7 !important;
}
:where(.css-dev-only-do-not-override-dkbvqv).ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-range-start:not(
    .ant-picker-cell-range-start-single
  )::before,
:where(.css-dev-only-do-not-override-dkbvqv).ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-range-end:not(
    .ant-picker-cell-range-end-single
  )::before {
  background: #d0e6e7 !important;
}
:where(.css-dev-only-do-not-override-dkbvqv).ant-slider
  .ant-slider-handle::after {
  background-color: #3a9699 !important;
  box-shadow: 0 0 0 2px #d0e6e7 !important;
}

:where(.css-dev-only-do-not-override-dkbvqv).ant-slider .ant-slider-track {
  background-color: #3a9699 !important;
}

:where(.css-dev-only-do-not-override-dkbvqv).ant-progress
  .ant-progress-success-bg,
:where(.css-dev-only-do-not-override-dkbvqv).ant-progress .ant-progress-bg {
  background-color: #3a9699 !important;
}

.ant-layout-sider-zero-width-trigger {
  display: none !important;
}
